/* .iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
  }
   */

   /* MovieDetails.module.css */

/* MovieDetails.module.css */

.iframe-container {
  position: relative;
  width: 100%;
  padding-top: 20%; /* Adjust the padding-top percentage for a smaller height */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive styles */
.responsiveIframeContainer {
  max-width: 800px; /* Optional: Limit the maximum width of the container */
}

.responsiveIframe {
  width: 100%;
  height: 100%;
}
